@import '~antd/dist/antd.css';

.Root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}
  
.Nav {
    background-color: #282c34;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: calc(10px + 2vmin);
    color: white;
    width: 100vw;
    height: 10vh;
}

.Comp-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid blue;
    height: 70vh;
    width: 100vw;

    background-image: url('../../images/League.jpg');
    background-position: top;
    background-size: cover;
}

    .button-cont {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-around;
        height: 60%;
        width: 400px;
    }
        



.Comp-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #282c34;
    color: white;
    width: 100vw;
    height: 20vh;
}